In [2]:
import pandas as pd
import numpy as np

In [1]:
try:
  df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='utf-8')
except UnicodeDecodeError:
  encodings = ['latin-1', 'iso-8859-1']
  for encoding in encodings:
    try:
      df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding=encoding)
      break
    except UnicodeDecodeError:
      pass

print(df.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [16]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [18]:
df['Area'].nunique()

49

In [21]:
df['Y2017'].mean()

140.9177648602722

In [20]:
df['Y2017'].std(ddof=0)

1671.8482948426636

In [3]:
group_by_area = df[['Y2017', 'Area']].groupby('Area')
area_sums = group_by_area['Y2017'].sum()
area_sums

Area
Algeria                     325644.27
Angola                      229159.57
Benin                       124771.22
Botswana                     22101.30
Burkina Faso                101855.07
Cabo Verde                   14650.74
Cameroon                    232030.43
Central African Republic     29937.00
Chad                         71594.68
Comoros                         59.84
Congo                        41181.68
CÃ´te d'Ivoire               224599.01
Djibouti                     22729.91
Egypt                       866379.92
Eswatini                     54343.33
Ethiopia                    448683.76
Ethiopia PDR                     0.00
Gabon                        27979.64
Gambia                       23154.18
Ghana                       337599.06
Guinea                       98138.87
Guinea-Bissau                19102.77
Kenya                       264660.66
Lesotho                      21267.96
Liberia                      23866.36
Name: Y2017, dtype: float64

In [27]:
# Sort by ascending order
sorted_sums = area_sums.sort_values()
seventh_lowest_area = sorted_sums.index[6]

print(f"Area with the 7th lowest sum in 2017: {seventh_lowest_area}")

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [32]:
grouped_by_element = df[df['Y2017'].notna()][['Element', 'Y2017']].groupby('Element')

# Calculate the sum for 'Y2017' within each group and sum the group results
total_processing_sum = grouped_by_element['Y2017'].sum().sum()

print(f"Total sum of Processing in 2017: {total_processing_sum}")

Total sum of Processing in 2017: 8375729.1899999995

In [34]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [36]:
df.groupby(['Y2017','Area'])['Area']

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7ed1d85bd930>

In [37]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Select columns and group by 'Area'
grouped_by_area = df[['Y2017', 'Area']].groupby('Area')

# Calculate the sum for 'Y2017' within each group
area_sums = grouped_by_area['Y2017'].sum()

# Get the index of the maximum sum
highest_sum_area = area_sums.idxmax()

print(f"Area with the highest sum in 2017: {highest_sum_area}")

Area with the highest sum in 2017: Nigeria